.product-card {
  display: block;
  padding: 1em;
  position: relative;
}

.product-card:hover {
  box-shadow: 0 0 5px 1px rgb(173, 172, 172);
  cursor: pointer;
}

.product-card:hover:before {
  display: inline-block;
  position: absolute;
  z-index: 6;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  content: "Виж детайли";
  background-color: rgb(111, 2, 2);
  color: whitesmoke;
  padding: 0.5em 1em;
  border-radius: 0.5em;
}

.product-card:hover:after {
  display: inline-block;
  position: absolute;
  z-index: 5;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: "";
  background-color: rgb(255, 255, 255);
  opacity: 0.4;
}

.card-content {
  display: flex;
  flex-direction: column;
}

h4 {
  color: red;
  text-transform: uppercase;
  font-size: 1.2em;
}

h3 {
  font-size: 1.1em;
  letter-spacing: 1px;
}

.discount {
  position: absolute;
  top: 1em;
  right: 1em;
  background-color: red;
  color: whitesmoke;
  width: 5em;
  text-align: center;
  font-weight: bold;
}

.price .new-price {
  color: red;
  font-size: 1.1em;
}
