<a
  [routerLink]="['/p', nameForUrl]"
  [state]="{ id: product.id, type: itemType, name: product.name }"
  class="product-card"
  *ngIf="product"
>
  <div class="card-content">
    <div class="image-wrapper">
      <img [src]="product.imageUrl" alt="product picture" />
    </div>
    <div class="product-info">
      <h4>{{ product.make }}</h4>
      <h3>{{ product.name }}</h3>
      <div class="price">
        <span
          [ngStyle]="{
            'text-decoration': product.discountPercent ? 'line-through' : null
          }"
          >{{ product.price.toFixed(2) }} лв.</span
        >
        <span *ngIf="product.discountPercent" class="new-price"
          >{{
            ((product.price * (100 - product.discountPercent)) / 100).toFixed(2)
          }}
          лв.</span
        >
      </div>
    </div>
  </div>
  <span class="discount" *ngIf="product.discountPercent"
    >-{{ product.discountPercent }}%</span
  >
</a>
