/* @import url("../../../../node_modules/@fortawesome/fontawesome-free/css/all.css");

@import "../../../../node_modules/mdb-angular-ui-kit/assets/scss/mdb.scss"; */

.img-container {
  display: block;
  position: relative;
  aspect-ratio: 2.5/1;
  overflow: hidden;
}

.img-container img {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  /* opacity: 0.8; */
  filter: contrast(80%);
}

h4 {
  font-size: 2em;
  color: beige;
  text-shadow: 2px 2px 4px black;
}

/* .img-container a {
  position: absolute;
  
  right: 15%;
  top: 80%;
  z-index: 100;
} */
