<mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'">
  <mdb-carousel-item>
    <a class="img-container" href="#">
      <img
        src="../../../../assets/carousel/dovile-ramoskaite-x8rDSFN2DpY-unsplash.jpg"
        class="d-block w-100"
        alt="..."
      />
    </a>
    <div class="carousel-caption d-none d-md-block">
      <h4 class="rubik-distressed-regular">
        Велосипед за всеки член от семейството
      </h4>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <a class="img-container" href="#">
      <img
        src="../../../../assets/carousel/patrick-hendry-1ow9zrlldJU-unsplash.jpg"
        class="d-block w-100"
        alt="..."
      />
    </a>
    <div class="carousel-caption d-none d-md-block">
      <h4 class="rubik-distressed-regular">Вземи екипировка и аксесоари</h4>
    </div>
  </mdb-carousel-item>
</mdb-carousel>
