<section class="site-contacts">
  <div class="comp-container contacts">
    <div>
      <h4>Информация</h4>
      <ul>
        <li><a href="#">За Нас</a></li>
        <li><a href="#">Общи условия</a></li>
        <li><a href="#">Доставка</a></li>
        <li><a href="#">Поверителност</a></li>
        <li><a href="#">Документи</a></li>
        <li><a href="#">Промоции</a></li>
      </ul>
    </div>
    <div>
      <h4>Клиентска зона</h4>
      <ul>
        <li><a href="#">Моят профил</a></li>
        <li><a href="#">Контакти</a></li>
        <li><a href="#">Гаранция</a></li>
        <li><a href="#">Рекламация</a></li>
      </ul>
    </div>
    <div>
      <h4>Бюлетин</h4>
      <p>
        Абонирайте се за нашия бюлетин за да научавате първи за текущи промоции
        и оферти!
      </p>
      <form>
        <div class="email-form-element">
          <input class="form-control" type="text" placeholder="Вашият Email" />
          <button class="btn btn-primary" type="submit">
            <span>Изпрати</span>
          </button>
        </div>

        <label for="agree-policy"
          ><input type="checkbox" id="agree-policy" /> Прочетох и съм съгласен с
          <a href="#">Защита на личните данни</a></label
        >
      </form>
    </div>
  </div>
</section>

<section class="site-footer">
  <div class="comp-container footer">
    <p>&copy; 2024</p>
  </div>
</section>
