.bikes-types {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  z-index: 100;
}

.bike-type {
  display: block;
  flex: 1 1 16%;
  text-align: center;
}

.bike-type:hover {
  box-shadow: 1px 1px 4px gray;
}
