<section class="bikes-types">
  <div class="bike-type">
    <a routerLink="/велосипеди/планински" title="планински велосипеди">
      <div class="img-wrapper">
        <img
          src="../../../assets/bikeTypes/mountain.png"
          alt="Планински велосипед"
        />
      </div>
      <p>Планински велосипеди</p>
    </a>
  </div>
  <div class="bike-type">
    <a routerLink="/велосипеди/шосейни" title="Шосейни велосипеди">
      <div class="img-wrapper">
        <img src="../../../assets/bikeTypes/road.png" alt="Градски велосипед" />
      </div>
      <p>Шосейни велосипеди</p>
    </a>
  </div>
  <div class="bike-type">
    <a routerLink="/велосипеди/градски" title="Градски велосипеди">
      <div class="img-wrapper">
        <img src="../../../assets/bikeTypes/city.png" alt="Градски велосипед" />
      </div>
      <p>Градски велосипеди</p>
    </a>
  </div>
  <div class="bike-type">
    <a routerLink="/велосипеди/електрически" title="Електрически велосипеди">
      <div class="img-wrapper">
        <img
          src="../../../assets/bikeTypes/electric.png"
          alt="Електрически велосипед"
        />
      </div>
      <p>Електрически велосипеди</p>
    </a>
  </div>
  <div class="bike-type">
    <a routerLink="/велосипеди/детски" title="Детски колела">
      <div class="img-wrapper">
        <img src="../../../assets/bikeTypes/kids.png" alt="Детски велосипед" />
      </div>
      <p>Детски велосипеди</p>
    </a>
  </div>
</section>
