<div class="add-to-cart-wrapper"></div>

<div class="content">
  <button class="close-button"><i class="fa-solid fa-xmark"></i></button>
  <div class="check-icon">
    <i class="fa-regular fa-circle-check"></i>
  </div>
  <h1>Успешно добавихте продукт в кошницата</h1>
  <div class="product-content">
    <div class="img-wrapper">
      <img
        src="http://localhost:9000/buy-bike/bicycles/mountain/Epic_Expert_Morn_White.jpg"
        alt="product image"
      />
    </div>
    <div class="content-text">
      <h6>Product name</h6>
      <div>
        <span class="price">499 лв. </span>
        <span> x 1бр.</span>
      </div>
    </div>
  </div>
  <div class="buttons">
    <a class="btn btn-dark" href="#">Към количката</a>
    <button class="btn btn-danger">Продължи да пазаруваш</button>
  </div>
</div>
