body {
  max-width: 100vw;
  background-color: #fffefe;
}

.comp-container {
  max-width: 70em;
  margin: 0 auto;
}

.app-wrapper {
  display: flex;
  flex-flow: column wrap;
  max-width: 100%;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
}

button:hover {
  cursor: pointer;
}

a:hover {
  color: orange;
  cursor: pointer;
}

ul,
ol {
  padding-left: 0;
}

.img-wrapper {
  display: block;
  position: relative;
  aspect-ratio: 4/3;
  overflow: hidden;
  text-align: center;
}

.img-wrapper img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
