<home-banner></home-banner>
<div class="bike-types-container">
  <app-bike-types></app-bike-types>
</div>

<section class="home-news">
  <h2 class="home-news-title">Новини</h2>
  <div class="news-wrapper">
    <a href="#" class="home-news-post">
      <div class="img-wrapper">
        <img src="../../../assets/news/bike-shop.jpg" alt="" />
        <span class="post-date">23 feb 24</span>
      </div>
      <div class="news-content">
        <h4>Title</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
          deserunt voluptas, voluptate laborum quo ipsa ut accusantium beatae
          autem libero nam nobis maiores adipisci incidunt ad veniam tempora
          asperiores iure!
        </p>
      </div>
    </a>

    <a href="#" class="home-news-post">
      <div class="img-wrapper">
        <img src="../../../assets/news/field.jpg" alt="" />
        <span class="post-date">23 feb 24</span>
      </div>
      <div class="news-content">
        <h4>Title</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
          deserunt voluptas, voluptate laborum quo ipsa ut accusantium beatae
          autem libero nam nobis maiores adipisci incidunt ad veniam tempora
          asperiores iure!
        </p>
      </div>
    </a>

    <a href="#" class="home-news-post">
      <div class="img-wrapper">
        <img src="../../../assets/news/field.jpg" alt="" />
        <span class="post-date">23 feb 24</span>
      </div>
      <div class="news-content">
        <h4>Title</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
          deserunt voluptas, voluptate laborum quo ipsa ut
        </p>
      </div>
    </a>
    <a href="#" class="home-news-post">
      <div class="img-wrapper">
        <img src="../../../assets/news/field.jpg" alt="" />
        <span class="post-date">23 feb 24</span>
      </div>
      <div class="news-content">
        <h4>Title</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing autem libero nam
          nobis maiores adipisci incidunt ad veniam tempora asperiores iure!
        </p>
      </div>
    </a>

    <a href="#" class="home-news-post">
      <div class="img-wrapper">
        <img src="../../../assets/news/bike-shop.jpg" alt="" />
        <span class="post-date">23 feb 24</span>
      </div>
      <div class="news-content">
        <h4>Title</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
          deserunt voluptas, voluptate laborum quo ipsa ut accusantium beatae
          autem libero nam nobis maiores adipisci incidunt ad veniam tempora
          asperiores iure!
        </p>
      </div>
    </a>

    <a href="#" class="home-news-post">
      <div class="img-wrapper">
        <img src="../../../assets/news/bike-shop.jpg" alt="" />
        <span class="post-date">23 feb 24</span>
      </div>
      <div class="news-content">
        <h4>Title</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
          deserunt voluptas, voluptate laborum quo ipsa ut accusantium beatae
          autem libero nam nobis maiores adipisci incidunt ad veniam tempora
          asperiores iure!
        </p>
      </div>
    </a>
  </div>
</section>
