<div class="product-wrapper">
  <add-to-cart
    *ngIf="showAddToCart"
    [(show)]="showAddToCart"
    [imgUrl]="product?.imageUrl ?? ''"
    [price]="product!.discountPrice"
    [productName]="product!.name"
  ></add-to-cart>

  <app-loader *ngIf="isLoading"></app-loader>
  <div class="product-left">
    <div
      class="product-image"
      #imageDiv
      [ngStyle]="productImageStyleObj"
      (mousemove)="onMouseMoveOverPicture($event)"
      (mouseout)="onMouseOutOfPicture()"
    ></div>
  </div>
  <div class="product-right">
    <div class="product-info">
      <div class="product-name-group">
        <div>
          <h2>
            {{ productName }}
          </h2>
          <div class="sku" *ngIf="selectedItemIndex">
            Кат. номер:
            <span>{{ (product?.items)![+selectedItemIndex].sku }}</span>
          </div>
        </div>
        <a class="logo"
          ><img [src]="product?.makeLogoUrl" [alt]="product?.make"
        /></a>
      </div>

      <div class="product-price-group">
        <div
          class="product-price"
          [ngStyle]="{
            'text-decoration-line': product?.discountPercent
              ? 'line-through'
              : null
          }"
        >
          {{ product?.price?.toFixed(2) }} лв.
        </div>
        <div class="new-price" *ngIf="product?.discountPercent">
          {{ product!.discountPrice.toFixed(2) }}
          лв.
        </div>
      </div>

      <div class="product-options">
        <div *ngIf="haveSize">
          <label for="size">Размер:</label>
          <select name="size" [(ngModel)]="selectedItemIndex">
            <option value="">-- Избери размер --</option>
            <option
              *ngFor="let item of product?.items; index as i"
              value="{{ i }}"
            >
              {{ item.size }}{{ item.inStock > 0 ? "" : " (няма налични)" }}
            </option>
          </select>
        </div>
        <button
          class="btn btn-success"
          [disabled]="(product?.items)![+selectedItemIndex].inStock === 0"
          (click)="onBuyButtonClick()"
        >
          Купи
        </button>

        <div
          class="ask-about"
          *ngIf="
            selectedItemIndex &&
            (product?.items)![+selectedItemIndex].inStock === 0
          "
        >
          <button class="btn btn-danger">Запитване</button>
          <p>
            Този продукт / размер в момента не е наличен в нашия склад. За
            информация за възможна <b>индивидуална поръчка</b> и срок на
            доставка може да изпратите запитване към нас.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="product-description">
    <h4>Описание и техническа спецификация</h4>
    <p>{{ product?.description }}</p>
    <table class="table table-hover table-striped">
      <tbody>
        <tr *ngFor="let spec of product?.specification">
          <td>{{ spec[0] }}:</td>
          <td>{{ spec[1] }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
