<div class="product-wrapper">
  <div class="product-left">
    <div
      class="product-image"
      #imageDiv
      [ngStyle]="productImageStyleObj"
      (mousemove)="onMouseMoveOverPicture($event)"
      (mouseout)="onMouseOutOfPicture()"
    ></div>
  </div>
  <div class="product-right">
    <div class="product-info">
      <div class="product-name-group">
        <div>
          <h2>
            {{ productName }}
          </h2>
          <div class="sku" *ngIf="selectedItemIndex">
            Кат. номер:
            <span>{{ (product?.items)![+selectedItemIndex].sku }}</span>
          </div>
        </div>
        <a class="logo"
          ><img [src]="product?.makeLogoUrl" [alt]="product?.make"
        /></a>
      </div>

      <div class="product-price-group">
        <div
          class="product-price"
          [ngStyle]="{
            'text-decoration-line': product?.discountPercent
              ? 'line-through'
              : null
          }"
        >
          {{ product?.price?.toFixed(2) }} лв.
        </div>
        <div class="new-price" *ngIf="product?.discountPercent">
          {{
            (
              (product?.price! * (100 - product?.discountPercent!)) /
              100
            ).toFixed(2)
          }}
          лв.
        </div>
      </div>

      <div class="product-options">
        <div *ngIf="haveSize">
          <label for="size">Размер:</label>
          <select name="size" [(ngModel)]="selectedItemIndex">
            <option value="">-- Избери размер --</option>
            <option
              *ngFor="let item of product?.items; index as i"
              value="{{ i }}"
            >
              {{ item.size }}{{ item.isInStock ? "" : " (няма налични)" }}
            </option>
          </select>
        </div>
        <button
          class="btn btn-success"
          [disabled]="(product?.items)![+selectedItemIndex].isInStock === false"
          (click)="onBuyButtonClick()"
        >
          Купи
        </button>

        <div
          class="ask-about"
          *ngIf="
            selectedItemIndex &&
            (product?.items)![+selectedItemIndex].isInStock === false
          "
        >
          <button class="btn btn-danger">Запитване</button>
          <p>
            Този продукт / размер в момента не е наличен в нашия склад. За
            информация за възможна <b>индивидуална поръчка</b> и срок на
            доставка може да изпратите запитване към нас.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="product-description">
    <h4>Описание и техническа спецификация</h4>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis libero hic
      cumque soluta temporibus inventore nisi quia aliquid perferendis debitis,
      voluptate deleniti, excepturi, at sequi fuga saepe? Dolore, accusamus
      voluptatibus?
    </p>
    <table class="table table-hover table-striped">
      <tbody>
        <tr>
          <td>Рамка</td>
          <td>
            S-Works FACT 12m Carbon, Progressive XC Race Geometry, Rider-First
            Engineered™, threaded BB, 12x148mm rear spacing, internal cable
            routing, 100mm of travel
          </td>
        </tr>
        <tr>
          <td>Вилка</td>
          <td>
            RockShox SID SL ULTIMATE BRAIN, Top-Adjust Brain damper, Debon Air,
            15x110mm, 44mm offset, 100mm Travel
          </td>
        </tr>
        <tr>
          <td>Заден дерайльор</td>
          <td>SRAM XX1 Eagle AXS</td>
        </tr>
        <tr>
          <td>Команди</td>
          <td>SRAM Eagle AXS Rocker Paddle</td>
        </tr>
        <tr>
          <td>Касета</td>
          <td>Sram XG-1299, 12-Speed, 10-52t</td>
        </tr>
        <tr>
          <td>Курбели</td>
          <td>Quarq XX1 Powermeter, DUB, 170/175mm, 34t</td>
        </tr>
        <tr>
          <td>Кормило</td>
          <td>
            S-Works Carbon XC Mini Rise, 6-degree upsweep, 8-degree backsweep,
            10mm rise, 760mm, 31.8mm
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
