<div class="pagination-wrapper">
  <div class="sort">
    <label for="selectSort">Сортирай по: </label>
    <select name="selectSort" (change)="changeSorting($event)">
      <option value="Price">Цена</option>
      <option value="Name">Име</option>
      <option value="Make">Производител</option>
      <option value="Discount">Намалени</option>
    </select>
    <a (click)="reverseSorting()" class="sort-arrow"
      ><i
        class="fa-solid fa-arrow-down-long"
        [ngClass]="{ reversed: paginatorState.desc }"
      ></i
    ></a>
  </div>
  <div class="select-count">
    <label for="selectCount">Покажи:</label>
    <select name="selectCount" (change)="changeItemPerPage($event)">
      <option value="12">12</option>
      <option value="24">24</option>
      <option value="50">50</option>
      <option value="80">80</option>
    </select>
  </div>

  <div class="pagination">
    <button
      (click)="changePage(paginatorState.pageNumber - 1)"
      [disabled]="paginatorState.pageNumber === 1"
    >
      <i class="fa-solid fa-angle-left"></i>
    </button>

    <span>Стр. {{ paginatorState.pageNumber }} от {{ totalPages }}</span>

    <button
      (click)="changePage(paginatorState.pageNumber + 1)"
      [disabled]="paginatorState.pageNumber === totalPages"
    >
      <i class="fa-solid fa-angle-right"></i>
    </button>
  </div>
</div>
