<div class="sidebar">
  <div class="accordion">
    <h2>Категории</h2>
    <ul class="type-cat">
      <li
        [ngClass]="{ hide: type.name.toLowerCase() !== selectedTypeName }"
        *ngFor="let type of productTypes; index as i"
        id="type{{ i }}"
      >
        <div class="category-name-group">
          <a
            [routerLink]="'/' + type.name.toLowerCase()"
            [ngStyle]="{
              color:
                type.name.toLowerCase() === selectedTypeName ? 'red' : 'black'
            }"
            href=""
            >{{ type.name }}</a
          >
          <button
            class="category-toggle-btn toggle-btn"
            *ngIf="type.categories.length > 0"
            (click)="toggle('type' + i)"
          >
            <i
              [ngClass]="{
                'fa-plus': type.name.toLowerCase() !== selectedTypeName,
                'fa-minus': type.name.toLowerCase() === selectedTypeName
              }"
              class="fa-solid"
            ></i>
          </button>
        </div>

        <ul>
          <li
            [ngClass]="{ hide: !selectedCategories.includes(category.name) }"
            *ngFor="let category of type.categories; index as j"
            id="cat{{ j }}"
          >
            <div class="category-name-group">
              <a
                [routerLink]="
                  '/' +
                  type.name.toLowerCase() +
                  '/' +
                  category.name.toLowerCase()
                "
                [ngStyle]="{
                  color:
                    category.name.toLowerCase() === selectedCategoryName
                      ? 'red'
                      : 'black'
                }"
                href=""
                >{{ category.name }}</a
              >
              <button
                class="category-toggle-btn toggle-btn"
                *ngIf="category.subCategories.length > 0"
                (click)="toggle('cat' + j)"
              >
                <i
                  [ngClass]="{
                    'fa-plus': !selectedCategories.includes(category.name),
                    'fa-minus': selectedCategories.includes(category.name)
                  }"
                  class="fa-solid"
                ></i>
              </button>
            </div>
            <ul>
              <li *ngFor="let subCategory of category.subCategories">
                <a
                  [ngStyle]="{
                    color:
                      subCategory.name.toLowerCase() === selectedCategoryName
                        ? 'red'
                        : 'black'
                  }"
                  href=""
                  >{{ subCategory.name }}</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="filter">
    <div class="filters-title">
      <h2>Филтър</h2>
      <button
        class="clr-filter-btn"
        *ngIf="isAnyFilterSet()"
        (click)="resetFilter()"
      >
        Изчисти
      </button>
    </div>

    <div id="filter-price">
      <button
        class="filter-toggle-btn toggle-btn"
        (click)="toggle('filter-price')"
      >
        <span class="filter-title">Цена</span>
        <i class="fa-solid fa-minus"></i>
      </button>
      <ul>
        <ngx-slider
          [value]="minPrice"
          [highValue]="maxPrice"
          [options]="priceBarOptions"
          (userChangeEnd)="priceSliderEvent($event)"
        >
          >
          <div>от: {{ minPrice }}</div>
          <div>до: {{ maxPrice }}</div>
        </ngx-slider>
      </ul>
    </div>

    <div id="filter-makes">
      <button
        class="filter-toggle-btn toggle-btn"
        (click)="toggle('filter-makes')"
      >
        <span class="filter-title">Производител</span>
        <i class="fa-solid fa-minus"></i>
      </button>
      <ul>
        <li class="make" *ngFor="let make of manufacturers; index as i">
          <input
            type="checkbox"
            [name]="i.toString()"
            value="true"
            [(ngModel)]="filter.makeIds[make.id]"
            (ngModelChange)="onFilterChanged()"
          />

          <label for="{{ i }}">{{ make.name }}</label>
        </li>
      </ul>
    </div>

    <div id="filter-in-stock">
      <button
        class="filter-toggle-btn toggle-btn"
        (click)="toggle('filter-in-stock')"
      >
        <span class="filter-title">Наличност</span>
        <i class="fa-solid fa-minus"></i>
      </button>
      <ul>
        <li>
          <input
            type="checkbox"
            name="inStock"
            value="true"
            [(ngModel)]="filter.inStock"
            (ngModelChange)="onFilterChanged()"
          />
          <label for="inStock">Налични</label>
        </li>
        <li>
          <input
            type="checkbox"
            name="outOfStock"
            value="true"
            [(ngModel)]="filter.outOfStock"
            (ngModelChange)="onFilterChanged()"
          />
          <label for="outOfStock">Неналични</label>
        </li>
      </ul>
    </div>

    <div class="additional-filters" *ngIf="selectedType">
      <div
        *ngFor="let prop of productPage?.attributes; index as i"
        [id]="'additional-filter' + i"
      >
        <ng-container ng *ngIf="prop.values.length > 0">
          <button
            class="filter-toggle-btn toggle-btn"
            (click)="toggle('additional-filter' + i)"
          >
            <span class="filter-title">{{ prop.name }}</span>
            <i class="fa-solid fa-minus"></i>
          </button>
          <ul>
            <li *ngFor="let val of prop.values">
              <input
                type="checkbox"
                name="prop"
                value="true"
                [(ngModel)]="filter.additionalFilters.get(prop.id)![val]"
                (ngModelChange)="onFilterChanged()"
              />
              <label for="prop">{{ val }}</label>
            </li>
          </ul>
        </ng-container>
      </div>
    </div>
  </div>
</div>
