<section class="bikes-types">
  <div class="bike-type">
    <a href="#" title="планинси колела">
      <div class="img-wrapper">
        <img src="../../assets/bikeTypes/mountain.png" alt="mountain bike" />
      </div>
      <p>Планински колела</p>
    </a>
  </div>
  <div class="bike-type">
    <a href="#" title="Шосейни колела">
      <div class="img-wrapper">
        <img src="../../assets/bikeTypes/road.png" alt="road bike" />
      </div>
      <p>Шосейни колела</p>
    </a>
  </div>
  <div class="bike-type">
    <a href="#" title="Градски колела">
      <div class="img-wrapper">
        <img src="../../assets/bikeTypes/city.png" alt="city bike" />
      </div>
      <p>Градски колела</p>
    </a>
  </div>
  <div class="bike-type">
    <a href="#" title="Електрически колела">
      <div class="img-wrapper">
        <img src="../../assets/bikeTypes/electric.png" alt="electric bike" />
      </div>
      <p>Електрически колела</p>
    </a>
  </div>
  <div class="bike-type">
    <a href="#" title="Детски колела">
      <div class="img-wrapper">
        <img src="../../assets/bikeTypes/kids.png" alt="kids bike" />
      </div>
      <p>Детски колела</p>
    </a>
  </div>
</section>
