.category-container {
  display: flex;
  position: relative;
}

.category-content {
  flex: 1 1 40em;
}

category-sidebar {
  flex-basis: 20em;
}

.products-wrapper {
  display: flex;
  flex-wrap: wrap;
}

product-card {
  flex: 0 1 19em;
}

@media (max-width: 900px) {
  product-card {
    flex-basis: 50%;
  }
}
