<div class="category-container">
  <category-sidebar></category-sidebar>
  <div class="category-content">
    <category-banner
      [imageSrc]="productPage ? productPage.categoryImageUrl : ''"
    ></category-banner>

    <app-paginator
      [currentPage]="currentPage"
      [itemsPerPage]="itemsPerPage"
      [totalItems]="totalItems"
      (pageChanged)="onPageChange($event)"
      (itemPerPageChanged)="onItemsPerPageChange($event)"
      (sortingChanged)="onSortingChange($event)"
    ></app-paginator>

    <div class="products-wrapper">
      <ng-container *ngFor="let product of productPage?.products">
        <product-card
          [id]="product.id"
          [itemType]="productsType"
          [category]="product.category"
          [make]="product.make"
          [price]="product.price"
          [name]="product.name"
          [imgUrl]="product.imageUrl"
          [discountPercent]="product.discountPercent"
        ></product-card>
      </ng-container>
    </div>
  </div>
</div>
