<app-snackbar *ngIf="errorMessage" [errorMessage]="errorMessage"></app-snackbar>
<div class="category-container">
  <app-loader *ngIf="isloading"></app-loader>

  <category-sidebar
    *ngIf="productsPage"
    [selectedTypeName]="productsType"
    [selectedCategoryName]="category ? category : ''"
    [productPage]="productsPage"
    (queryFilterChanged)="onFilterChange($event)"
  ></category-sidebar>

  <div class="category-content">
    <category-banner
      [imageSrc]="productsPage ? productsPage.categoryImageUrl : ''"
    ></category-banner>

    <app-paginator
      (paginatorStateChanged)="onPaginatorStateChange($event)"
      [totalItems]="productsPage?.totalProducts ?? 0"
    ></app-paginator>

    <div class="products-wrapper" *ngIf="productsPage?.products">
      <ng-container *ngFor="let product of productsPage?.products">
        <product-card
          [product]="product"
          [itemType]="productsType"
        ></product-card>
      </ng-container>
    </div>
  </div>
</div>
