<header class="app-header">
  <div class="top-bar-wrapper">
    <div class="comp-container top-bar">
      <a href="#" class="app-title">Buy Bike</a>
      <div class="search">
        <input type="text" class="input-text" />
        <button type="submit">
          <i class="fas fa-search"></i>
        </button>
      </div>

      <ul class="upper-menu">
        <li>
          <a href="#">
            <i class="fa-regular fa-circle-user"></i>
            <span>Вход/Регистрация</span></a
          >
        </li>
        <li *ngIf="isLogged">
          <a href="#">
            <i class="fa-solid fa-user-check"></i>
            <span>Профил</span></a
          >
        </li>
        <li>
          <a href="#">
            <i class="fa fa-cart-shopping"></i>
            <span>Количка</span></a
          >
        </li>
      </ul>
    </div>
  </div>

  <div class="nav-wrapper">
    <nav class="comp-container site-nav">
      <ul role="list">
        <li><a href="#">Велосипеди</a></li>
        <li><a href="#">Части</a></li>
        <li><a href="#">Аксесоари</a></li>
        <li><a href="#">Екипировка</a></li>
        <li><a href="#">Промоции</a></li>
      </ul>

      <ul>
        <li><a href="#">За нас</a></li>
        <li><a href="#">Новини</a></li>
      </ul>
    </nav>
  </div>
</header>
