<category-banner [categoryType]="type"></category-banner>
<div class="toolbar">
  <app-paginator
    [currentPage]="currentPage"
    [itemsPerPage]="itemsPerPage"
    [totalItems]="totalItems"
    (pageChanged)="onPageChange($event)"
    (itemPerPageChanged)="onItemsPerPageChange($event)"
    (sortingChanged)="onSortingChange($event)"
  ></app-paginator>
  <!-- <div class="paginator">
    <label for="itemsPerPage">Покажи: </label>
    <select name="items" id="itemsPerPage">
      <option value="12">12</option>
      <option value="24">24</option>
      <option value="50">50</option>
      <option value="100">100</option>
    </select>
  </div> -->
</div>
